.intro {
	font-size: 30px;
}

#selfportrait {
	text-align: center;
}
.intro img {
	width: 75%;
	padding-bottom: 20px;
}

.details {
	font-size: 24px;
}

#contact {
	padding-top: 40px;
	clear: both;
	padding-bottom: 20px;
}

#contact ul {
	padding-left: 0px;
	list-style-type: none;
}

#contact ul li {
	float: left;
	padding-right: 20px;
}
#contact a {
	color: #7ECEFD;
	text-decoration: none;
}

#contact {
	font-size: 20px;
	padding-top: 40px;
	clear: both;
	padding-bottom: 40px;
}

#contact ul {
	padding-left: 0px;
	list-style-type: none;
}

#contact ul li {
	float: left;
	padding-right: 20px;
}
#contact a {
	color: #7ECEFD;
	text-decoration: none;
}
.logos {
	width: 29px;
}

@media screen and (max-width: 480px) {
	article.content p.tagline {
		font-size: 24px;
	}
	article.content p {
		padding-left: 10px;
		font-size: 20px;
		padding-right: 10px;
	}
	article.content h1, h2 {
		text-align: center;
	}
	article.content #contact ul {
		text-align: center;
	}
	article.content #contact ul li {
		display: inline-block;
		float: none;
	}
	article.content #contact p {
		font-size: 16px;
	}
}