html, html a {
    -webkit-font-smoothing: antialiased;
}

.table{
    display:table;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 100px 0px 20px 0px;
}
.table-cell{
    display:table-cell;
    vertical-align: middle;
}
.content {
	width: 90%;
	margin:	auto;
	padding-top: 40px;
}

.about a{
	font-size: 60px;
	opacity: 0;
	-webkit-transition: all .25s ease-in;
}

.social a {
	font-size: 36px;
	opacity: 0;
	-webkit-transition: all .25s ease-in;
}

#main {
	font-family: 'Roboto' sans-serif;
	text-align: center;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
}

#main div a {
	text-decoration: none;
	color: black;
}
canvas {
	z-index: -1;
	position: relative;
	width: 100%;
	height:	100%;
}

#main span {
	opacity: 0;
	font-size: 36px;
	-webkit-transition: all 1s ease-in;
}

@media screen and (max-width: 480px) {
	#main span {
		font-size: 22px;
	}
	.about a {
		font-size: 36px;
	}
	.social a {
		font-size: 22px;
	}
}