<div id="grid">
	<ng-include src="'public/src/views/partials/heading.html'"></ng-include>	

	<article class="content container-fluid">
	<div class = "row intro">
		<div class="col-xs-12 col-lg-12">
			<header id = "title"><h1>About Me</h1></header>
			<p class= "tagline">I'm Brian. I am a software developer living in San Francisco. I am originally from Austin Texas and I arrived here after working software roles at Accenture. When I moved I brought my love for technology, photography, art, and the outdoors with me.</p>
		</div>
		<div id="selfportrait"class="col-lg-12 col-xs-12">
			<img src= "public/src/img/suave.jpg">
		</div>
		<div class="col-lg-12 col-xs-12"><p class = "col-lg-12 col-xs-12 details">My passion for programming started in late 2012, in the form of a simple web crawler. The goal of my project was to find all of the live music shows in the area at the time and match artists to my iTunes library. Although it was a small scripting project, it was the first time I fully immersed myself in the "coding world". Since those days of using Python to find my favorite artists, I turned my hobby into a career.</p></div>
	</div>
		<div class="row details">
		<div class="col-xs-12 col-lg-6">
			<header><h2>Technology</h2></header>
			<p>I am deeply interested in technology, design and programming. I previously worked on health and public services projects where I supported and maintained software for a client. My responsibilities included meeting with our client daily, taking their issues, and working with my team to provide solutions for issues. </p>
			<p>I have experience working with Java, web languages, and SQL databases. Recently I have enjoyed learning to use MongoDB. I am an infinitely curious individual and love venturing to the unknown.</p>
		</div>
		<div class="col-xs-12 col-lg-6">
			<header><h2>Interests</h2></header>
			<p>Besides technology, other things I enjoy include taking pictures, traveling, learning new languages, and watching foreign films. </p>
			<p>I actively use Instagram, and think it's a great social network for sharing photos and documenting experiences. I have done a good amount of international travel—I have been to more countries than states in the U.S. to this date. Some of my favorite films originate from France, a language that I actively learn.</p>
		</div>
	</div>
	<div id = "contact">
		<p>Email is the best way to get in touch with me. For speedy communication please use <a href = "mailto:brianchan@utexas.edu"><img class = 'logos' src = "public/src/img/email.png"></a></p>
		<p>And if social media is more suitable:</p>
		<ul>
			<li><a href="http://www.facebook.com/imbrianchan"><img class='logos' src = "public/src/img/Facebook.png"></a></li>
			<li><a href="https://www.twitter.com/brianmchan"><img class = 'logos' src= "public/src/img/Twitter.png"></a></li>
			<li><a href="http://www.instagram.com/fakebrianchan"><img class = 'logos' src = "public/src/img/Instagram.png"></a></li>
			<li><a href="https://www.linkedin.com/in/iambrianchan"><img class= 'logos' src = "public/src/img/LinkedIn.png"></a></li>
		</ul>
	</div>
	</article>
</div>


	