<nav class= "navbar center" anim-nav>
	<ul class = 'links'>
		<li class = "navlink"><a href="/blog">Blog</a></li>
		<li class = "navlink"><a href="/media">Social Media</a></li>
		<li class = "navlink"><a href = "/"><img class='logo' src= "public/src/img/The_Brian_Chan.png"></a></li>
		<li class = "navlink"><a href="/aboutme">About Me</a></li>
		<li class = "navlink"><a href="/resume">Resume</a></li>
	</ul>
<div class="mobile-navbar">
    	<div class='menu'>
    		<ul class='mobile-links'>
    		    <li><a href = "/"><img class='logo' src= "public/src/img/The_Brian_Chan.png"></a></li>
    			<li><a href="/blog">Blog</a><hr class='hairline'></li>
    			<li><a href="map">Photo Map</a><hr class='hairline'></li>
    			<li><a href = "/aboutme">About Me</a><hr class='hairline'></li>
    			<li><a href="/resume">Resume</a><hr class='hairline'></li>
    		</ul>
    	</div>
    	<div class='swipe'><span>Menu</span></div>
</div>
</nav>
    