<div id = "grid">
	<ng-include src="'public/src/views/partials/heading.html'"></ng-include>

	<article class='instagramcontainer'>
	<div id = "title">
		<h1>Social Media</h1>
	</div>
	<div class='tabs'>
		<div class='tab'><label><input type="radio" ng-model="tab" value="feed">Instagram</label></div>
		<div class='tab'><label><input type="radio" ng-model="tab" value="map">Map</label></div>
		<div class='tab'><label><input type="radio" ng-model="tab" value="twitter">Twitter</label></div>
	</div>

	<div ng-switch on="tab">

	<div ng-switch-when="map" ng-controller="MapController" geo-photos>
		<div class='form-group search' id='search'>
			<script type="text/ng-template" id="searchbox.tpl.html">
        	<input class="form-control" type="text" placeholder="Search by city, state, or country">
    		</script>
    	</div>
    	<div class = 'progressbar'></div>
		<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
			<ui-gmap-markers models="geographies" coords="'location'" click='selectMarker' events='markerevents'></ui-gmap-markers>
			<ui-gmap-search-box template='searchbox.template' events='searchbox.events' parentdiv="'search'"></ui-gmap-search-box>
		</ui-gmap-google-map>

    	<div id = 'geophotos'></div>
    </div>

    <div ng-switch-when="feed" ng-controller="InstagramController" instagram>
    	<div id = "instagram"></div>
		<div class='progressbar'></div>
	</div>
    <div ng-switch-when="twitter" ng-controller="InstagramController">
		<div class="twitterborder">
		    <div class="table">
		        <div class="table-cell">
					<a class="twitter-timeline" data-width="970" href="https://twitter.com/brianmchan">Tweets by brianmchan</a>
		        </div>
		    </div>
		</div>
	</div>
	</article>
</div>