doctype html
html(ng-app="myApp")
  head
    title
        | The Brian Chan
        block title
    meta(charset='utf8')
    meta(name='author' content='Brian Chan')
    meta(name='description' content='My personal website for photos, blogs and other interests')
    meta(name='viewport' content="width=device-width, initial-scale=1, user-scalable=no")
    base(href='/')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='dist/css/Roboto.min.css')
    link(rel='stylesheet' href='dist/css/general.min.css')
    link(rel="stylesheet" href="dist/css/heading.min.css")
    link(rel="stylesheet" href="dist/css/blog.min.css")
    link(rel="stylesheet" href="dist/css/instagram.min.css")
    link(rel="stylesheet" href="dist/css/aboutme.min.css")
    link(rel="stylesheet" href="dist/css/login.min.css")
  body
    block bodystuff
    script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
    script(src='bin/modernizr.js')
    script(src='/node_modules/lodash/lodash.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js')
    script(src='/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js')
    script(src='//maps.google.com/maps/api/js?key=AIzaSyA8l8STCfBE-JKWfz3BFMRWMtiuhroPDfY&libraries=places')
    script(src='node_modules/angular-simple-logger/dist/angular-simple-logger.min.js')
    script(src='node_modules/angular-google-maps/dist/angular-google-maps.min.js')
    script(src='node_modules/angular-google-analytics/dist/angular-google-analytics.min.js')
    script(src='dist/js/controllers/InstagramCtrl.min.js')
    script(src='dist/js/controllers/BlogCtrl.min.js')
    script(src='dist/js/controllers/LoginCtrl.min.js')
    script(src='dist/js/services/BlogService.min.js')
    script(src='dist/js/directives/MainDir.min.js')
    script(src='dist/js/appRoutes.min.js')
    script(src='dist/js/app.min.js')